{% extends 'MainBundle:Master:master.html.twig' %}
{% block content %}
 
    <div class="row">
        
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions }  %}
     </div>
     <div> <br></br> </div>
     
     
     <div class="btn-group" role="group">
                <a href="#" class="btn btn-light">
                   <span class="label label-primary">#</span>
                   Número pregunta
                </a>
                <a href="#" class="btn btn-light">
                   <span class="label label-warning">&#10095; #</span> 
                   Revisión
                </a>
                 <a href="#" class="btn btn-light">
                   <span class="badge">&#10059;</span> 
                   Resuelta
                </a>
                <a href="#" class="btn btn-light">
                   <span class="label label-success">#</span>
                  Correcta
                </a>
                <a href="#" class="btn btn-light">
                   <span class="label label-danger">#</span>
                  Incorrecta
                </a>
            </div>
    
            
               
                
                
                
                
                
     
       
    
     
     
     <div> <br></br> </div>
    
    <div class="btn-group btn-group-justified " role="group" aria-label="...">
        
        {% if exam.finished %} 
        <div class="btn-group" role="group" >
                
                

                    <a href="{{ path('report', {'idExam':exam.id}) }}" id="btn_finish"  class="btn btn-info btn-lg" >  <span class="badge">{{exam.percentage}}%</span> Resultado detallado</a>
                
        </div>
        {%else %}
        <div class="btn-group" role="group" >



                
                <a  id="btn-confirm"  class="btn btn-success btn-lg  {% if exam.finished %} disabled {% endif %}" > <span class="badge pull-right" id="clock"></span> Evaluar</a>
   
        </div>
                
       



       
                
                
            
        {% endif %}
        
    </div>
       
     
                     <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Desea evaluar el examen</h4>
      </div>
        
            
       
      <div class="modal-footer">
       
        <a href="{{ path('exam', {'idExam':exam.id}) }}" id="modal-btn-si"  class="btn btn-default  {% if exam.finished %} disabled {% endif %}" onclick="return FinishExam({{exam.id}});"> Si</a>
        <button type="button" class="btn btn-primary" id="modal-btn-no">No</button>
      </div>
    </div>
  </div>
</div>
    
{% endblock content%}

{% block morejs %}
    
 <script language="JavaScript" type="text/javascript">
    var modalConfirm = function(callback){
  
  $("#btn-confirm").on("click", function(){
    $("#mi-modal").modal('show');
  });

  $("#modal-btn-si").on("click", function(){
    callback(true);
    $("#mi-modal").modal('hide');
  });
  
  $("#modal-btn-no").on("click", function(){
    callback(false);
    $("#mi-modal").modal('hide');
  });
};

modalConfirm(function(confirm){
  if(confirm){
    //Acciones si el usuario confirma
   FinishExam({{exam.id}});
  }else{
    //Acciones si el usuario no confirma
   // $("#result").html("NO CONFIRMADO");
  }
});
    
    function FinishExam(idExam){
        
        $.ajax({
            url: '{{ path('finishExam') }}',
            type: "POST",
            data: {
                'idExam': idExam
               
            },
            success: function(resp) { //Limpia el cuerpo de la tabla para incluir la nueva información
                var jsonResp = JSON.parse(resp);
                console.log(jsonResp);
              
              
               return true;
            },
            onFailure: function() {
                //alert('Se ha producido un error');
            }
        });
      
    }
    function getTimer() {
        return new Date({{Date}}).valueOf();
    }
    
{%if not Time%}

    var clock = $('#clock');
    
    clock.countdown(getTimer())
    .on('update.countdown',function(event) {
        $(this).html(event.strftime('%H:%M:%S'));
    })
    .on('finish.countdown', function(event) {
        FinishExam({{exam.id}}); 
        window.open('{{ path('exam', {'idExam':exam.id}) }}','_self');
    });
    
    {%endif%}
            
</script>   

{%endblock %}  