{% extends 'MainBundle:Master:master.html.twig' %}
{% block content %}
 <script language="javascript">
    function SolveQuestion(idExamQuestion){
        var idAnswer = $('input:radio[name=question]:checked').val();
        $.ajax({
            url: '{{ path('solveQuestion') }}',
            type: "POST",
            data: {
                'idExamQuestion': idExamQuestion,
                'idAnswer': idAnswer
            },
            success: function(resp) { //Limpia el cuerpo de la tabla para incluir la nueva informaci贸n
                var jsonResp = JSON.parse(resp);
                console.log(jsonResp);
              
              
               return true;
            },
            onFailure: function() {
                //alert('Se ha producido un error');
            }
        });
      
    }
    
    function FinishExam(idExam){
        
        $.ajax({
            url: '{{ path('finishExam') }}',
            type: "POST",
            data: {
                'idExam': idExam
               
            },
            success: function(resp) { //Limpia el cuerpo de la tabla para incluir la nueva informaci贸n
                var jsonResp = JSON.parse(resp);
                console.log(jsonResp);
              
              
               return true;
            },
            onFailure: function() {
                //alert('Se ha producido un error');
            }
        });
      
    }
            
</script>
{%if QuestionId == -1%}
    <div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Error!!!</h3>
  </div>
  <div class="panel-body">
    Pregunta ingresada no encontrada en nuestra base de datos
  </div>
</div>

{%else%}

 <div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title"><span class="badge">{{QuestionId}}</span> {{ Title }} </h3>
  </div>
  <div class="panel-body">
      <h6>
        
            <div class="radio">
                <label>
                    <input type="radio"  name="question" value="{{Option1.id}}" {% if Answered  %} disabled {%endif%} {%if Answer ==1 %} checked {%endif%}>
                    {{Option1.description}}
                    {%if (Answered) and (Answer ==1)%}
                        {%if Option1.correct%} 
                            <span class="label label-success">&#10004;</span>     
                        {%else%}
                            <span class="label label-danger">&#10008;</span>
                        {%endif%}
                    {%endif%}  
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio"  name="question" value="{{Option2.id}}" {% if Answered  %} disabled {%endif%} {%if Answer ==2 %} checked {% endif %}>
                    {{Option2.description}}
                    {%if (Answered) and (Answer ==2)%}
                        {%if Option2.correct%} 
                            <span class="label label-success">&#10004;</span>     
                        {%else%}
                            <span class="label label-danger">&#10008;</span>
                        {%endif%}
                    {%endif%}  
                </label>
            </div>
            <div class="radio">
                <label>
          
                    <input type="radio"  name="question" value="{{Option3.id}}" {% if Answered  %} disabled {%endif%} {%if Answer ==3 %} checked {% endif %}>
                    {{Option3.description}}
                    {%if (Answered) and (Answer ==3)%}
                        {%if Option3.correct%} 
                            <span class="label label-success">&#10004;</span>     
                        {%else%}
                            <span class="label label-danger">&#10008;</span>
                        {%endif%}
                    {%endif%}  
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio"  name="question" value="{{Option4.id}}" {% if Answered  %} disabled {%endif%} {%if Answer ==4 %} checked {%endif%}>
                    {{Option4.description}}
                    {%if (Answered) and (Answer == 4)%}
                        {%if Option4.correct%} 
                            <span class="label label-success">&#10004;</span>     
                        {%else%}
                            <span class="label label-danger">&#10008;</span>
                        {%endif%}
                    {%endif%}  
                </label>
            </div>
    </h6>
        <div class="btn-group" role="group" aria-label="...">
            {% if ShowPrevious%}
                <a href="{{ path('question', {'id':prevId, 'idExam': exam.id}) }}" onclick="return SolveQuestion({{ExamQuestion.id}});" id="btn_previous" class="btn btn-primary">Anterior</a>
                
            {% endif %}
            {% if ShowNext%}
                <a href="{{ path('question', {'id':nextId, 'idExam': exam.id}) }}" id="btn_next" onclick="return SolveQuestion({{ExamQuestion.id}});"  class="btn btn-primary" >Siguiente</a>
                
            {% endif %}
            {% if ShowExplanation%}
                <button id="btn_explanation"  class="btn btn-info" onclick="$( '#panel_explanation' ).toggle(); return false;">Explicaci贸n</button>
            {% endif %}
            {% if IdExam != null%}
                <a href="{{ path('exam', {'idExam':IdExam}) }}" id="btn_questions" onclick="return SolveQuestion({{ExamQuestion.id}});"  class="btn btn-default">Preguntas</a>
                {%if not exam.finished %}
                <a href="{{ path('exam', {'idExam':IdExam}) }}" id="btn_finish"  class="btn btn-success" onclick="return SolveQuestion({{ExamQuestion.id}}); ">Finalizar</a>
                {% endif %}
            {% endif %}
        </div>

  </div>
    
</div>  
<div id="panel_explanation" class="panel panel-info" style="display: none">
  <div class="panel-heading">
    <h3 class="panel-title">Explicaci贸n</h3>
  </div>
  <div class="panel-body">
     {{ Explanation}}
  </div>
</div>  
        
{%endif%}
{% endblock content %} 
  
  


