
       {% for question in questions %}
        
           <div class="col-12 col-xs-6 col-sm-4 col-md-2 col-lg-1   {% if ((question.order -1) == 0) %} col-lg-offset-1  {%elseif  ((question.order -1) % 10 ==0 ) %} col-lg-offset-1 {%endif%}  ">
               <h3><a href="{{ path('question', {'id':question.question.id, 'idExam': exam.id}) }}" class="btn  {%if exam.finished%}disabled {%endif%}">
                {%if exam.finished%}
                    {%if question.solved%}
                        {%if question.answer.correct%}
                            <span class="label label-success">{{ "%03d"|format(question.order) }}</span>   
                        {%else%}
                            <span class="label label-danger">{{ "%03d"|format(question.order) }}</span>   
                        {%endif%}
                    {%else%}
                       <span class="label label-danger">{{ "%03d"|format(question.order) }}</span>   
                    {%endif%}    
                {%else %}
                    {%if question.revision%}
                        <span class="label label-warning">&#10095; {{ "%03d"|format(question.order) }}</span>    
                    {%else%}
                        <span class="label label-primary">{{ "%03d"|format(question.order) }}</span> 
                    {%endif%} 
                {%endif%}
            
                 
                {%if question.solved%}  
                    <span class="badge">&#10059;</span> 
                {%endif%}  
                   </a></h3>
            </div>
        {% endfor %}
 
