<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Software for exams trainning">
    <meta name="author" content="XYK">
    <link rel="icon" href="images/favicon.ico">

    <title>{% block title %} TRAINNER - HOME {% endblock title %}</title>

    
    
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/main/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/main/bootstrap/css/custom.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body oncontextmenu="return false;" onselectstart="return false;" >

    
    <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                SIMULADOR
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ mopa_bootstrap_menu('MainBundle:Builder:mainMenu') }}
            
            <!-- Links menu right -->
            <ul class="nav navbar-nav navbar-right">
             
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ app.user.username }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{{path ('fos_user_security_logout')}}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log-out</a></li>
                </ul>
              </li>
             
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <!-- Begin page content -->
    {%block breadcrumb %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{path ('homepage')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            <li class="active"> - {% block breadcrumblink %} {% endblock breadcrumblink %}</li>
            <!-- Time -->
        </ol>
    </div>
   {%endblock%}
    <div class="container-fluid-content col-xs-12 col-sm-12 col-md-12">{% block content %} {% endblock content %}</div>
        
            
    
    
    <!-- Footer -->
    <footer class="footer">
      <div class="container-fluid">
          <p class="text-muted">Powered By <strong>XYK</strong> &copy; 2015  TRAINNER</p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script language="JavaScript" type="text/javascript" src="{{ asset('bundles/main/js/jquery-1.11.3.min.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ asset('bundles/main/jquery.countdown/jquery.countdown.min.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ asset('bundles/main/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {% block morejs %}
    {% endblock morejs %}
  </body>
</html>